*{
    margin: 0;
    padding:0;
    
    box-sizing: border-box;
}
.row{
     border: 2px solid red;
}
.col-6{
    border: 2px solid green;
}
.col{
     border:2px solid yellow
}
div{
    border: 2px solid orange;
}
a{
    text-decoration: none;
}
.container{
    margin-top: 10px;
    /* background: gray; */
}
.search-ber{

    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid gray;
    text-decoration: none;

}
.sidebar{
   display: flex;
   align-items: center;
}
.sidebar a{
    color: gray;
}
.logo{
    display: flex;
    justify-content: center;
}
.search{
    display: flex;
    justify-content: end;
    align-items: center;
    
    
}
.btn{
    display: inline-block;
    line-height: 1.5;
    border: 1px solid black;
}
.search a{
    color: gray;
}
.icons{
    display: block;
    margin-top: 10px;
    margin-right: 20px;
}
.nav {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav a{
   text-decoration: none; 
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling:touch;
}


